body {
    font-family: 'Roboto', sans-serif;
}

/*#region menu*/
.bg-blue {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #a9ecff, #76e0ff, #76e0ff, #43d5ff, #10caff, #00ABDC);
}

/*#endregion menu*/

/*#region carousel*/
.my-carousel-caption {
    position: absolute;
    right: 15%;
    top: 8rem;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}


#carouselExampleSlidesOnly {
    height: 50vh;
}

/*#endregion carousel*/


/*#region recherche*/
.search-content {}

.search {

    padding: 0;
    width: 70%;
    height: 200px;
    z-index: 10;
    background: rgba(0, 0, 0);
}

/*#endregion recherche*/

/*#region circuits page */
.header_circuit {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/mayaruins.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    position: relative;
}

.header_shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.hero_two.header_title {
    top: 35%;
}

.header_title {
    margin: 16px 0 10px;
    position: absolute;
    transform: translate(0, 0);
}

.hero_two {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    max-width: 100%;
    width: 100%;
    text-shadow: 4px 4px 8px #000000;
}

.box-search {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 24px;
}

.form-title {
    background: -webkit-linear-gradient(#00ABDC, #0083a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-nav {
    background-color: #00ABDC;
    color: #fff;
}

.btn-nav:hover {
    background-color: #0091ba;
    color: #fff;
}

.img-cover {
    object-fit: cover;
    height: 180px;
}

.prix {
    background: #ed5262;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    color: #fff;
    width: 100px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    z-index: 10px;
    top: 30%;
    left: 70%;
}


.btn-offre {
    background-color: #F5941C;
    color: #fff;
}

.btn-offre:hover {
    background-color: #e5830a;
    color: #fff;
}

/*#endregion circuits page */


/*taille moyenne*/
@media only screen and (min-width: 600px) {

    /*#region menu*/
    .bg-blue {
        background: linear-gradient(to right, #fff, #fff, #fff, #a9ecff, #76e0ff, #76e0ff, #43d5ff, #10caff, #00ABDC);
    }

    /*#endregion menu*/

    /*#region circuit cards */

    .prix {
        top: 32%;
        left: 83%;
    }

    /*#endregion circuit cards */

}


/*taille grande*/
@media only screen and (min-width: 991px) {

    /*#region menu*/
    .bg-blue {
        background: linear-gradient(to right, #fff, #fff, #a9ecff, #76e0ff, #76e0ff, #43d5ff, #10caff, #00ABDC);
    }

    /*#endregion menu*/

    /*#region recherche*/
    .search-content {
        display: flex;
        position: absolute;
        top: 0%;
        left: 0%;
        justify-content: center;
        top: 50%;
        min-height: 100%;
        min-width: 100%;
    }

    .search {
        position: relative;
        padding: 0;
        width: 70%;
        height: 200px;
        z-index: 10;
        background: rgba(0, 0, 0, .80);
    }

    /* #endregion recherche*/

    /*#region carousel*/
    #carouselExampleSlidesOnly {
        height: 100vh;
    }

    /*#endregion carousel*/

    /*#region login form */
    .box {
        position: relative;
        top: -85%;
        left: 25%;
        height: 80vh;
        z-index: 20px;
        min-height: 450px;
        width: 600px;
        padding: 30px;
        background: rgba(0, 0, 0, .8);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0.5);
        border-radius: 10px;
    }

    .box h2 {
        margin: 0 0 30px;
        font-size: 1.5rem;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .box p {
        font-size: 15px;
        color: #fff;
        margin-top: 20px;
    }

    .box a:hover,
    .box a:visited,
    .box a:focus {
        text-decoration: none;
    }

    .box .inputBox {
        position: relative;
    }

    .box .inputBox input {
        width: 100%;
        padding: 10px 0;
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .box .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        padding: 10px 0;
        font-size: 14px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .box .inputBox input:focus~label,
    .box .inputBox input:valid~label {
        top: -18px;
        left: 0;
        color: #00ABDC;
        font-size: 12px;
    }

    .box input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        background: #00ABDC;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .box input[type="submit"]:focus,
    .box input[type="submit"]:hover {
        background: #007698;
    }

    .btn-facebook {
        color: white;
        margin-top: 0;
        background-color: #3b5998;
    }

    hr.style-one {
        border: 0;
        height: 1px;
        margin-top: 25px;
        margin-bottom: 0;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }

    .or {
        position: relative;
        top: -27px;
        left: 47%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #efefefef;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
    }

    /*#endregion login form */

    /*#region circuit page */

    .header_circuit {
        height: 500px;
    }

    /*#endregion circuit page*/

    /*#region prix cards */

    .prix {
        top: 29%;
        left: 62%;
    }

    /*#endregion prix cards */

}

/*taille extra grande*/
@media only screen and (min-width: 1200px) {

    /*#region prix cards */
    .prix {
        top: 29%;
        left: 67%;
    }

    /*#endregion prix cards*/
}