body {
    font-family: 'Roboto', sans-serif;
}


.bg-blue {
    background: linear-gradient(to right, #fff, #fff, #a9ecff, #76e0ff, #76e0ff, #43d5ff, #10caff, #00ABDC);
}


@media only screen and (max-width: 600px) {
    .bg-blue {
        background: linear-gradient(to right, #fff, #fff, #fff, #a9ecff, #76e0ff, #00ABDC);
    }

}

.my-carousel-caption {
    position: absolute;
    right: 15%;
    top: 8rem;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}


/*Region recherche*/
.search-content {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

.search {
    position: relative;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 200px;
    z-index: 10;
    background: rgba(0, 0, 0, .80);
}

/* end region recherche*/