body {
    font-family: 'Roboto', sans-serif;
}

/*#region menu*/
.bg-blue {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #a9ecff, #76e0ff, #76e0ff, #43d5ff, #10caff, #00ABDC);
}

/*#endregion menu*/

/*#region carousel*/
.my-carousel-caption {
    position: absolute;
    right: 15%;
    top: 8rem;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}


#carouselExampleSlidesOnly {
    height: 50vh;
}

/*#endregion carousel*/


/*#region recherche*/
.search-content {}

.search {

    padding: 0;
    width: 70%;
    height: 200px;
    z-index: 10;
    background: rgba(0, 0, 0);
}

/*#endregion recherche*/


/*taille moyenne*/
@media only screen and (min-width: 600px) {

    /*#region menu*/
    .bg-blue {
        background: linear-gradient(to right, #fff, #fff, #fff, #a9ecff, #76e0ff, #76e0ff, #43d5ff, #10caff, #00ABDC);
    }

    /*#endregion menu*/
}


/*taille grande*/
@media only screen and (min-width: 900px) {

    /*#region menu*/
    .bg-blue {
        background: linear-gradient(to right, #fff, #fff, #a9ecff, #76e0ff, #76e0ff, #43d5ff, #10caff, #00ABDC);
    }

    /*#endregion menu*/

    /*#region recherche*/
    .search-content {
        display: flex;
        position: absolute;
        top: 0%;
        left: 0%;
        justify-content: center;
        top: 50%;
        min-height: 100%;
        min-width: 100%;
    }

    .search {
        position: relative;
        padding: 0;
        width: 70%;
        height: 200px;
        z-index: 10;
        background: rgba(0, 0, 0, .80);
    }

    /* #endregion recherche*/

    /*#region carousel*/
    #carouselExampleSlidesOnly {
        height: 100vh;
    }

    /*#endregion carousel*/

    /*#region login form */
    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        padding: 40px;
        background: rgba(0, 0, 0, .8);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0.5);
        border-radius: 10px;
    }

    .box h2 {
        margin: 0 0 30px;
        font-size: 1.8rem;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .box p {
        font-size: 15px;
        color: #fff;
        margin-top: 20px;
    }

    .box a:hover,
    .box a:visited,
    .box a:focus {
        text-decoration: none;
    }

    .box .inputBox {
        position: relative;
    }

    .box .inputBox input {
        width: 100%;
        padding: 10px 0;
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .box .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        padding: 10px 0;
        font-size: 14px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .box .inputBox input:focus~label,
    .box .inputBox input:valid~label {
        top: -18px;
        left: 0;
        color: #00ABDC;
        font-size: 12px;
    }

    .box input[type="submit"] {
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        background: #00ABDC;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .box input[type="submit"]:focus,
    .box input[type="submit"]:hover {
        background: #007698;
    }

    /*#endregion login form */
}